.gcloudignore
/jt-stash/*
/img/*
/app/*
/query_model/*
/candidate_model/*
/util/*
/query_ensemble/*
/models/*
*.pkl
*.png
*.ipynb
.git
.github
.ipynb_checkpoints/*
*__pycache__
*cpython-37.pyc
pip_freeze.txt
Dockerfile
