__init__.cpython*
candidate_pipeline.cypthon*
*.cpython-310.pyc
*.cpython-37.pyc
*-checkpoint.py*
*.ipynb_checkpoints
*.ipynb_checkpoints/*
*WIP*
*ARCHIVED*
# .gcloudignore
# .git
.github
*__pycache__
*cpython-37.pyc
.gitignore
.DS_Store

# Pyhon byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class
